.\#*
\#*\#
auto-save-list/
%backup%~
bookmarks
chameleon/chameleon-custom.el
chameleon-local.el
elpa/
emacs-backup/
emojis/
eshell/
image-dired/
network-security.data
nov-places
projectile-bookmarks.eld
recentf
recentf~
savehist
session.*
srecode-map.el
thumbs/
tramp
transient/
url/
